.single__member-social {
    position: absolute;
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    top: -20%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgb(0, 13, 107, 0.6);
    transform: translateX(-50%);
    border-radius: 4px;
    transition: .5s ease;
    opacity: 0;
}

.single__member-social a {
    width: 28px;
    height: 28px;
    color: #000d6b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    background: #fff;
    border-radius: 50%;
}

.single__member-img {
    position: relative;
    cursor: pointer;
}

.single__member-img:hover .single__member-social {
    opacity: 1;
    top: 0;
}